{% extends 'base.html' %} {% load static %} 
{% block title %} Registration {% endblock title %} 
{% block content %} 
{% include 'navbar.html' %}
<div
  class="container d-flex flex-column justify-content-evenly align-items-center"
>
  <h2 class="text-center mt-3 reg-heading">Sign Up</h2>
  {% if messages %} 
    {% for message in messages %}
    <div class="alert mb-2 mt-2 alert-color">{{ message }}</div>
    {% endfor %} 
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <div>
      <input
        class="input-field"
        type="text"
        name="username"
        placeholder="Username"
      />
    </div>
    <div>
      <input class="input-field" type="text" name="email" placeholder="Email" />
    </div>
    <div>
      <input
        class="input-field"
        type="password"
        name="password1"
        placeholder="password"
      />
    </div>
    <div>
      <input
        class="input-field"
        type="password"
        name="password2"
        placeholder="Confirm Paswword"
      />
    </div>
    <div>
      <button class="submit-btn" type="submit">Sign Up</button>
    </div>
    <div class="mt-2">
      <small
        >Already have an account?<a href="{% url 'login_page' %}"
          >Login</a
        ></small
      >
    </div>
  </form>
</div>

<div class="bottom">
  <img src="{% static 'images/wavebottom.svg' %}" alt="" />
</div>
{% endblock content %}
